body,
input,
button, textarea {
  background-color: #aaa;
}

.hidden {
  display: none;
}

pre {
  overflow-x: auto;
}

.sticks {
  width: fit-content;
  position: sticky;
  top: 0;
  border: medium solid black;
  padding: 2px;
  background-color: cornsilk;
}
